<div>
  <div>
<!-- nav -->
<nav class="navbar fixed-top navbar-expand-lg navbar navbar-light bg-light" *ngIf="user">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="../home"><img src="../../assets/image/logo.jpg" alt="logo"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Success</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">User Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
</div><br><br>
<!-- main app container -->
<div [ngClass]="{ 'bg-light': user }">
    <router-outlet></router-outlet>
</div>
</div>
