<!-- nav -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" *ngIf="user">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Success</a>
      </li></ul>
    <!--  <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">User Details</a>
      </li> -->
      <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <router-outlet></router-outlet>
</div>
