/* You can add global styles to this file, and also import other style files */

a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
.nav1{
   margin-top: 80px;
}
.brand{
  margin-left:-300px;
  margin-top: 20px;
}
.con{
  margin-left: -225px;
}
