<div>
<div>
<nav class="navbar fixed-top navbar-expand-lg navbar navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="../home"><img src="../../assets/image/logo.jpg" alt="logo"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="../home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="../register">Sign Up</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="../login">Login</a>
      </li>
    </ul>
  </div>
</nav>
</div><br>

<div class="container">
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/image/image1.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/image2.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/image3.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div><br>
  <div class="container">
    <h1>Web Designing</h1>
    <P>Web development is the work involved in developing a Web site for the Internet (World Wide Web)
      or an intranet (a private network).Web development can range from developing a simple single
      static page of plain text to complex Web-based Internet applications (Web apps), electronic
      businesses, and social network services. A more comprehensive list of tasks to which Web development
       commonly refers, may include Web engineering, Web design, Web content development, client liaison,
       client-side/server-side scripting, Web server and network security configuration, and e-commerce
       development.</P>
       <p>
        Among Web professionals, "Web development" usually refers to the main non-design aspects of
        building Web sites: writing markup and coding.Web development may use content management systems
        (CMS) to make content changes easier and available with basic technical skills.
       </p>
       <p>
        For larger organizations and businesses, Web development teams can consist of hundreds of people
        (Web developers) and follow standard methods like Agile methodologies while developing Web sites.
         Smaller organizations may only require a single permanent or contracting developer, or secondary
         assignment to related job positions such as a graphic designer or information systems technician.
          Web development may be a collaborative effort between departments rather than the domain of a
          designated department. There are three kinds of Web developer specialization: front-end developer,
          back-end developer, and full-stack developer. Front-end developers are responsible for behavior and
          visuals that run in the user browser, while back-end developers deal with the servers.
       </p>
  </div><br><br><br><br><br><br>
  <hr style="height:2px;border-width:100;color:gray;background-color:gray;margin-left: -250px;
  margin-right: -250px;">
  <div class="container con">
<p>




</p>



  </div>
